{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}


{% block body %}

    {{  viewModel.message }}

    {% if viewModel.showForm %}
        {{ form_start(viewModel.form) }}
        {{ form_widget(viewModel.form) }}
        {{ form_end(viewModel.form) }}
    {% endif %}

    {% if viewModel.user %}
    <h2>Welcome: {{ viewModel.user.firstName }}</h2>
    First name: {{ viewModel.user.firstName }}<br />
    Last name: {{ viewModel.user.lastName }}<br />
    Email: {{ viewModel.user.email }}<br />
    {% endif %}

    {% if viewModel.accounts %}
    <h3>Your accounts</h3>
    {% for account in viewModel.accounts %}
        <table class="account" style="margin-top: 50px">
            <tr><th colspan="2" style="text-align: left;">{{ account.getTitle() }}</th></tr>
            <tr><td>Balance:</td><td>{{ account.getCurrentBalance }}</td></tr>
        </table>
    {% endfor %}
    {%  endif %}


{% endblock %}
