{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

    {% if viewModel.showForm %}
        {{ form_start(viewModel.form) }}
        {{ form_widget(viewModel.form) }}
        {{ form_end(viewModel.form) }}
    {% endif %}

    {{ dump(viewModel.mainContent) }}

    <p>User: {{ viewModel.mainContent.user }}</p>
    <p>Accounts: {{ viewModel.mainContent.accounts|join(', ') }}</p>

{% endblock %}
